<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
   
    <div class="container">
        <div class="row">
            <h1>List of news</h1>
        </div>
    
        <form method="post" th:action="@{/articles}">
            <div class="box-footer">
                <button type="submit" class="btn btn-primary">
                    Submit
                </button>
            </div>
            <div th:each="eachnews : ${newsList}">
                <img th:src = "@{${eachnews.imageUrl}}" class="img-thumbnail">
                <div>
                    <strong style="text-decoration: underline;">Id:</strong>
                    <span th:text="${eachnews.id}"></span>
                </div>
                
                <div><strong th:text="${eachnews.title}"></strong></div>
                <p th:text="${eachnews.body}"></p>
    
                <div>
                    <strong style="text-decoration: underline;">Categories:</strong>
                    <span th:text="${eachnews.categories}"></span>
                </div>
    
                <div>
                    <strong style="text-decoration: underline;">Tags:</strong>
                    <span th:text="${eachnews.tags}"></span>
                </div>
                
                <div>
                    <strong style="text-decoration: underline;">Published:</strong>
                    <span th:text="${eachnews.published}"></span>
                </div>
                
                <a th:href="@{${eachnews.url}}">Link</a>
    
                <!-- Checkbox for saving article -->
                <div class="form-check">
                    <input class="form-check-input" name="selectedNewsIds" type="checkbox" th:value="${eachnews.id}" >
                    <label class="form-check-label">
                        Save
                    </label>
                    <input type="hidden" name="imageUrl" th:value="${eachnews.imageUrl}">
                    <input type="hidden" name="title" th:value="${eachnews.title}">
                    <input type="hidden" name="body" th:value="${eachnews.body}">
                    <input type="hidden" name="categories" th:value="${eachnews.categories}">
                    <input type="hidden" name="tags" th:value="${eachnews.tags}">
                    <input type="hidden" name="published" th:value="${eachnews.published}">
                    <input type="hidden" name="url" th:value="${eachnews.url}">
                </div>
    
                <hr>
            </div>
    
            
        </form>
    </div>
    
    
</body>
</html>